<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div id="my-store-33073085"></div>
      <div>
        <script
          data-cfasync="false"
          type="text/javascript"
          src="https://app.ecwid.com/script.js?33073085&data_platform=code&data_date=2020-07-14"
          charset="utf-8"
        ></script>
        <script type="text/javascript">
          xProductBrowser(
            "categoriesPerRow=3",
            "views=grid(20,3) list(60) table(60)",
            "categoryView=grid",
            "searchView=list",
            "id=my-store-33073085"
          );
        </script>
      </div>
    </div>
  </div>
</section>
