<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-main-collapse"
      >
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/#page-top">
        <span class="light">{{ site.title }}</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="/#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="/#about">About</a>
        </li>
        <!-- <li>
          <a class="page-scroll" href="#map">Where to buy</a>
        </li> -->
        <li>
          <a class="page-scroll" href="/#contact">Contact</a>
        </li>
        <li>
          <a class="page-scroll" href="/buy">Buy</a>
        </li>
        <li>
          <div class="ec-cart-widget"></div>
          <div>
            <script
              data-cfasync="false"
              type="text/javascript"
              src="https://app.ecwid.com/script.js?33073085&data_platform=code&data_date=2020-07-14"
              charset="utf-8"
            ></script>
            <script type="text/javascript">
              Ecwid.init();
            </script>
          </div>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
